.account-image {
  background-image: url(../../images/account.jpg);
  background-position-y:40%;
}

#sp-my-subscriptions {
  min-height:350px;
}

.subscription .delivery-interval-group select#delivery-interval {
  border-color:#ced4da;
}